<h1>Editing Pin</h1>
<% if (@map.ispublic == 1) || (@map.user_id == @user_id) %>

<%= render 'form' %> <br> 

<%= link_to "Edit Media", map_pin_editmedia_path(:pin_id => @pin.id, :map_id => @map.id), class: "btn btn-primary" %>
<%= link_to 'Destroy', [@map, @pin], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  %> 
<% else %> 
You do not have access to edit on this map
<% end %>  
<%= link_to 'Show', [@map, @pin], class: "btn btn-primary"  %> 

<%= link_to 'Back', map_pins_path, 'data-no-turbolink' => true, class: "btn btn-primary"   %>