
<p id="notice"><%= notice %></p>

<h1>Current Maps</h1>


<table class="table table-hover">
  <!--<thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->

  <tbody>
    <% @maps.each do |map| %>
      <% if (map.ispublic == 1) || (map.user_id == @user_id) %>
        <tr>
          <td><%= map.title %></td>
          <td><%= map.description %></td>
          
          <td><%= link_to 'Show', map_pins_path(map), class: "btn btn-sm btn-primary", 'data-no-turbolink' => true  %></td>
          <% if (map.user_id == @user_id) %>
            <td><%= link_to 'Edit', edit_map_path(map), class: "btn btn-sm btn-primary" %></td>
            <td><%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary" %></td>
          <% end %> 
        </tr>
        <% end %> 
      <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Map', new_map_path, class: "btn btn-sm btn-primary" %>